/* место для вашего кода */
.header {
    max-width: 1340px;
    background-color: white;
    margin: auto;
    background-position: center;
    display: grid;
    margin-top: 92px;
    font-size: 18px;
    grid-template-columns: repeat(3, 1fr);
}

.header__logo-image {
    width: 140px;
    height: 105px;
}

.header__logo {
    align-self: center;
    justify-self: center;
}

.header__links-list {
    align-items: center;
    display: flex;
    list-style: circle;
    column-gap: 32px;
    justify-self: start;
}

.list-item_no-bullit {
    list-style-type: none;
}

.address {
    justify-self: end;
    font-style: normal;
    font-size: 18px;
    padding-top: 6px;
    line-height: 24px;
    padding-right: 2px;
}

.cover {
    max-width: 1440px;
    margin: auto;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 92px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    position: absolute;
}

.cover__title {
    color: white;
    font-size: 100px;
    padding-top: 165px;
    font-weight: bold;
    line-height: 123px;
    letter-spacing: 21px;
    padding-bottom: 120px;
    z-index: +1;
}

.letter_space {
    letter-spacing: 0.6em;
}

.letter_space_right {
    letter-spacing: 0.3em;
}

.no_letter_space_right {
    letter-spacing: 0
}

.align {
    display: block;
    text-transform: uppercase;
}

.align-left {
    padding-left: 50px;
    padding-right: 0px;
    letter-spacing: 0.3em;
}

.align-center {
    text-align: center;
    letter-spacing: 29px;
}

.align-right {
    text-align: right;
    letter-spacing: 0.6em;
    padding-right: 50px;
}

.cover__description {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: lighter;
    align-items: end;
    grid-template-areas: "text text text button";
    height: 100%;
    z-index: +1;
}

.text {
    word-spacing: 18px;
    font-weight: lighter;
    grid-area: text;
    justify-content: end;
    display: flex;
    padding-bottom: 62px;
    padding-right: 24px;
}

.button {
    background-color: transparent;
    color: white;
    font-size: 22px;
    font-weight: lighter;
    text-transform: uppercase;
    grid-area: button;
    margin-bottom: 50px;
    margin-left: 53px;
    width: 257px;
    height: 52px;
    text-align: center;
    display: inline-block;
    border: 1px solid white;
}

.lots {
    max-width: 1440px;
    margin: auto;
    margin-top: 180px;
    padding-right: 50px;
    padding-left: 50px;
}

.lots_title {
    font-size: 40px;
    padding-left: 40px;
    text-transform: uppercase;
}

.item_card {
    width: 430px;
    height: 450px;
    display: flex;
    margin: auto;
    background-size: cover;
    position: relative;
    background-position: center;
    flex-grow: 1;
}

.card_flex {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__card-list {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    list-style: circle;
    gap:25px;
}

.card__title {
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    padding-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: underline;
    line-height: 120%;
    font-weight: bold;
}

.card__text {
    display: flex;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    line-height: 120%;
    font-weight: lighter;
    align-items: end;
    flex-grow: 1;
    padding-bottom: 50px;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 40px;
    text-decoration: underline;
}

.about {
    max-width: 1340px;
    margin: auto;
    margin-top: 181px;
    display: grid;
    grid-template-columns: 430px auto;
    margin-bottom: 181px;
}

.conteiner {
    display: grid;
    align-items: stretch;
    justify-content: flex-end;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_text_conteiner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 23px;
}

.about__title {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__logo-image {
    background-image: url("../images/logo-white.svg");
    background-size: cover;
    width: 148px;
    height: 114px;
}

.about__text {
    font-size: 20px;
}

.about__text:first-child {
    padding-bottom: 25px;
}

.footer {
    max-width: 1340px;
    margin: auto;
    display: grid;
    background-position: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 90px;
}

.footer__menu-list {
    align-items: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
    font-size: 18px;
}

.footer__social-list {
    display: flex;
    width: 240px;
    justify-self: end;
    justify-content: space-between;
}

.social-list {
    width: 48px;
    height: 48px;
}

.address_footer {
    justify-self: start;
}

.address_text {
    display: block;
}